---
layout: style
---
@media(min-width:768px) {
    .navbar-default {
        background-color: #222;
    }
    section:first-child {
        margin-top: 110px;
    }
}

.container.portfolio h4 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	line-height: 2em;
    cursor: pointer; cursor: hand;
}
.container.portfolio h4 > span {
	padding-right: 0.5em;
}
