---
layout: style
---
@media(min-width:768px) {
    .navbar-default {
        background-color: #222;
    }
    section#team {
        margin-top: 110px;
    }
    .container.portfolio {
        margin-top: 110px;
    }

}