<!DOCTYPE html>
<html>

    {% include head.html %}

    <body id="page-top" class="portfolio">
        {% include header.html %}
        <div class="container portfolio">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div id="addline">
                        <p style="padding-bottom:4em">{{ page.title }}</p>
                        <hr class="star-primary">
                        <!--<img src="/img/portfolio/{{ page.img }}" class="img-responsive img-centered" alt="{{ page.alt }}"> -->
                        <h1>{{ page.description }}</h1>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="{{ page.client_url }}">{{ page.client }}</a>
                                </strong>
                            </li>
                            <li>Duration:
                                <strong>{{ page.project-duration }}</strong>
                            </li>
                            <li>Team:
                                <strong>{{ page.category }}</strong>
                            </li>
                        </ul>
                    </div>
                    <div>
                        {{ page.content }}
                    </div>
                </div>
            </div>
        </div>
        {% include js.html %}
        <script>
            $('h4').each(function(i, el) {
              $(el).prepend($('<span class="glyphicon glyphicon-menu-down" aria-hidden="true" />')).next().toggle();
;
              $(el).click(function(e) {
                $(this)
                  .find('span.glyphicon')
                  .toggleClass('glyphicon-menu-up')
                  .toggleClass('glyphicon-menu-down')
                $(this)
                  .next()
                  .toggle();
              })
            })
        </script>
        {% include footer.html %}
    </body>
</html>