<!DOCTYPE html>
<html>

    {% include head.html %}

    <body id="page-top" class="portfolio">
        {% include header.html %}
        <div class="container portfolio">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ page.title }}</h2>
                        <hr class="star-primary">
                        <img src="/img/portfolio/{{ page.img }}" class="img-responsive img-centered" alt="{{ page.alt }}">
                        <p>{{ page.description }}</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="{{ page.client_url }}">{{ page.client }}</a>
                                </strong>
                            </li>
                            <li>Duration:
                                <strong>{{ page.project-duration }}</strong>
                            </li>
                            <li>Service:
                                <strong>{{ page.category }}</strong>
                            </li>
                        </ul>
                    </div>
                    <div>
                        {{ page.content }}
                    </div>
                </div>
            </div>
        </div>
        {% include js.html %}
    </body>
</html>